{
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2
}