@import 'variables';
@import 'panel';

.answer {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.answer__text {
  font-size: $font-size-base * 1.2;
}

.answer--correct,
.answer--selected {
  border: 2px solid rgb(54, 202, 41);
}

.answer--incorrect {
  border: 2px solid rgb(202, 41, 41);
}

.quiz-editor {
  color: $color-dark-gray;
  display: flex;
  flex-flow: column;
}

.quiz-editor__block {
  @extend %panel;
}

.quiz-results,
.quiz-answer-form {
  color: $color-dark-gray;
  display: flex;
  flex-flow: column;
}

.quiz-results__block,
.quiz-answer-form__block {
  @extend %panel;
}
