$circle-number-size: calc(40/16) + rem;
$circle-number-font-size: calc(32/16) + rem;
$circle-number-padding: calc(8/16) + rem;

.circled-number {
  box-sizing: content-box;
  border-radius: 50%;
  border: 1px solid black;
  background-color: $color-dark-gray;
  width: $circle-number-size;
  height: $circle-number-size;
  line-height: $circle-number-size;
  font-size: $circle-number-font-size;
  color: $color-offwhite;
  margin: 0 auto 0.5rem;
  text-align: center;
}
