// Theme color palette
$color-dark-gray: hsl(0, 0%, 19%);
$color-gray: hsl(0, 0%, 86%);
$color-light-gray: hsl(0, 0%, 92%);

$color-offwhite: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$color-primary-dark: hsl(195, 60%, 20%);
$color-primary-light: hsl(195, 63%, 42%);

// Sizes
$navbar-height: 60px;
$footer-height: 60px;
