@import 'variables';
@import 'panel';
@import 'node_modules/bootstrap/scss/bootstrap';

.dashboard {
  height: calc(100% - #{$navbar-height});
  display: flex;
  flex-flow: column;
  color: $color-dark-gray;
}

.dashboard__block {
  @extend %panel;
}
